logs
project/project
project/target
target
tmp
ym-ui/
public/
ng-dev/temp
ng-dev/dist
ng-dev/node_modules
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
